<div class="flex justify-center">
  <form (ngSubmit)="submit()" #myForm="ngForm"
      class="w-1/3 p-4 m-auto mt-20 border rounded-lg">
      <h1 class="text-xl text-center">Register</h1>
      <div class="w-full my-5">
          <label for="email">Email</label>
          <input type="email" id="email"
              class="w-full p-2 text-sm border rounded"
              placeholder="Email Address" [(ngModel)]="form.email"
              name="email" #email="ngModel" required>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
          class="p-2 text-red-800 bg-red-300 rounded">
          Email field must be valid
      </div>
      <div class="w-full my-5">
          <label for="password">Password</label>
          <input type="password" id="password"
              class="w-full p-2 text-sm border rounded" placeholder="Password"
              [(ngModel)]="form.password" name="password" #password="ngModel"
              required>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
          class="p-2 text-red-800 bg-red-300 rounded">
          Password field must be valid
      </div>

      <div class="w-full my-5">
          <label for="confirm_password">Confirm Password</label>
          <input type="text" id="confirm_password"
              class="w-full p-2 text-sm border rounded"
              placeholder="Confirm Password"
              [(ngModel)]="form.confirm_password" name="confirm_password"
              #confirm_password="ngModel" required>
      </div>
      <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)"
          class="p-2 text-red-800 bg-red-300 rounded">
          Confirm password field must be valid
      </div>

      <div class="w-full my-5">
          <input type="submit" [disabled]="myForm.form.invalid"
              class="w-full p-2 text-white bg-yellow-700 rounded cursor-pointer hover:bg-yellow-900">
      </div>
  </form>
