<h3>Books List!</h3>

    <!-- <h6>click event</h6>
    <p> One way binding</p>
    <button (click)="handleClick()" [disabled] ="isDisabled">Show Books</button>
    <input type="text" (input)="handleInput($event)" >
    <p>{{ myName }}</p>

    <h6>Interpolation</h6>
    <ul>
      <li>
        <img [src]="src" [alt]="name" width="100px" >
      <p>  {{ name }} by {{ author}}
    </p>
      </li>
    </ul> -->
    <p>=============</p>
    <!-- <p>Two way binding</p>

    <h6>click event</h6>
    <button (click)="handleClick()" [disabled] ="isDisabled">Show Books</button>
    <input type="text" [(ngModel)] ="mystuffName" />
    <p>{{ mystuffName }}</p>

    <h6>Interpolation</h6>
    <ul>
      <li>
        <img [src]="src" [alt]="name" width="100px" >
      <p>  {{ name }} by {{ author}}
    </p>
      </li>
    </ul> -->
    <p>=================</p>
    <!-- <p> ngIf</p>

    <button (click)="toggleBooks()">Show Books</button>

    <ul *ngIf="isShowing">
      <li>
        <img [src]="src" [alt]="name" width="100px" >
      <p>  {{ name }} by {{ author}} </p>
      </li>
      <li>
        <img [src]="src2" [alt]="name2" width="100px" >
      <p>  {{ name2 }} by {{ author2 }} </p>
      </li>
    </ul> -->
    <p>=================</p>
    <!-- <p> Short hand show/hide books</p>

    <button (click)="isShowing = !isShowing">
    <span *ngIf = "!isShowing">Show Books</span>
      <span *ngIf = "isShowing">Hide Books</span>
    </button>

    <ul *ngIf="isShowing">
      <li>
        <img [src]="src" [alt]="name" width="100px" >
      <p>  {{ name }} by {{ author}} </p>
      </li>
      <li>
        <img [src]="src2" [alt]="name2" width="100px" >
      <p>  {{ name2 }} by {{ author2 }} </p>
      </li>
    </ul> -->
    <p>=================</p>
    <!-- <p> ng-container Short hand show/hide books</p>

    <button (click)="isShowing = !isShowing">
    <ng-container *ngIf = "!isShowing">Show Books</ng-container>
      <ng-container *ngIf = "isShowing">Hide Books</ng-container>
    </button>

    <p>needs interface and array this is part of ngFor which will LOOP</p>
    <ul *ngIf="isShowing">
      <ng-container *ngFor="let bookName of bookName; let i=index">
      <li >
      {{ i + 1}}

      <img [src]="bookName.image" [alt]="bookName.bookName" width="100px" >
      <p>  {{ bookName.bookName }} by {{ bookName.author}} </p>
      </li>
      </ng-container>
    </ul> -->

    <p>=================</p>
    <!-- <p> Pipes to transform upper/lower/title/camel case etc</p>

    <button (click)="isShowing = !isShowing">
    <ng-container *ngIf = "!isShowing">Show Books</ng-container>
      <ng-container *ngIf = "isShowing">Hide Books</ng-container>
    </button>

    <ul *ngIf="isShowing">
      <ng-container *ngFor="let bookName of bookName; let i=index">
      <li >
      {{ i + 1}}

      <img [src]="bookName.image" [alt]="bookName.bookName" width="100px" >
      <p>  {{ bookName.bookName | titlecase }} by {{ bookName.author | titlecase }} </p>
      </li>
      </ng-container>
    </ul> -->
    <p>=================</p>
    <!-- <p> styles</p>

    <button (click)="isShowing = !isShowing">
    <ng-container *ngIf = "!isShowing">Show Books</ng-container>
      <ng-container *ngIf = "isShowing">Hide Books</ng-container>
    </button>

    <ul *ngIf="isShowing">
      <ng-container *ngFor="let bookName of bookName; let i=index">
      <li >

        <p class="sno">  {{ i + 1}}</p>

        <img [src]="bookName.image" [alt]="bookName.bookName" width="100px" >

      <p class="title">  {{ bookName.bookName | titlecase }} by {{ bookName.author | titlecase }} </p>

      </li>

      </ng-container>

    </ul> -->

    <p>=================</p>
    <!-- <p> parent to child</p>
    <p>adds sub module <em>book</em> to the <em>books</em> component inside the folder for books</p>

    <p>PARENT Books Component</p>
    <ul *ngIf="isShowing">
      <ng-container *ngFor="let Book of book; let i=index">
        <ng-container *ngFor="let singleBook of book" {...}>
    binding with []
    <app-book [book]="singleBook"></app-book>
      </ng-container>

    </ul> -->

    <p>=====================</p>
    <!-- <p>Child to Parent</p>

    <p>PARENT Books Component</p>
    <ul *ngIf="isShowing">
      <ng-container *ngFor="let Book of book; let i=index">
        <ng-container *ngFor="let singleBook of book" {...}>
    binding with []
    <app-book (bookEmitter)="addToCart($event)" [book]="singleBook"></app-book>
      </ng-container>

    </ul> -->

     <p>=====================</p>
    <p>Lifecycle Hooks</p>

    <p>PARENT Books Component</p>
    <button (click)="isShowing = !isShowing">Button</button>

    <ul *ngIf="isShowing">
        <ng-container *ngFor="let singleBook of book" {...}>
    <app-book (bookEmitter)="addToCart($event)" [book]="singleBook"></app-book>
      </ng-container>

    </ul>
<p>=====================</p>
<p>Lifecycle Hooks</p>

<p>PARENT Books Component</p>

<ul *ngIf="isShowing">
    <ng-container *ngFor="let singleBook of book" {...}>
<app-book (bookEmitter)="addToCart($event)" [book]="singleBook">

</app-book>

  </ng-container>

</ul>
